{% assign parametre = {{include.parametre}} %}

<span class="label label-type">Type: {{site.data.parameters.[parametre].type}}</span>
<span class="label label-varsayilan">Default: {{site.data.parameters.[parametre].showDefault}}</span>
<span class="label label-min">Min: {{site.data.parameters.[parametre].min}}  </span>
<span class="label label-max">Max: {{site.data.parameters.[parametre].max}}</span>
<span class="label label-unit">Unit: {{site.data.parameters.[parametre].unit}}</span>
<span class="label label-context">Context: {{site.data.parameters.[parametre].context}}</span>
<span class="label label-restart">Restart: {{site.data.parameters.[parametre].restart}}</span>
<span class="label label-values">Values: {{site.data.parameters.[parametre].values}}</span>